<!doctype html>
<html lang='en-GB'>
<head>
  <meta charset='utf-8'>
  <title>Ractive test</title>
</head>

<body>
 
    
 <div class="row">
   <header class="twelve columns centered">
     <h3>Typeahead - Ractive + Foundation</h3>
   </header>
 </div>
  
  
 <div class="row">
   <div id='container' class="large-9 large-centered large-offset-11 columns">
  
    <div class="row">
      <script id='template' type='text/ractive'>
        <div class="row">
         <h3 class="text-center">{{pageTitle}}</h3>
        </div>
        <div class="row">
         <div class="small-centered">
          <div id="predict"> <input type="text" value={{predicted}} disabled="true"> </div>
          <div id="main"> <input type="text" placeholder="{{hint}}" value={{searchKey}}> </div>
         </div>
        </div>
      </script>
    </div>
    
  </div>
 </div>
  
  
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.css">
 <link rel="stylesheet" href="./typeahead_custom.css">
 <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
 <script src="https://cdn.jsdelivr.net/foundation/6.1.2/foundation.min.js"></script>
 <script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>
 <script src='https://cdn.jsdelivr.net/lodash/4.5.0/lodash.min.js'></script>
 <script src="./typeahead.js"></script>

  <!--
       4. We've got an element in the DOM, we've created a template, and we've
       loaded the library - now it's time to build our Hello World app.
  -->
  <script>
    $(document).foundation();
  </script>
    
</body>
</html>